client/Connected Services/kamenServices/kamenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="kamenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IkamenService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IkamenService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IkamenService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IkamenService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IkamenService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IkamenService_GameMoveSend_InputMessage">
    <wsdl:part name="parameters" element="tns:GameMoveSend" />
  </wsdl:message>
  <wsdl:message name="IkamenService_GameMoveSend_OutputMessage">
    <wsdl:part name="parameters" element="tns:GameMoveSendResponse" />
  </wsdl:message>
  <wsdl:message name="IkamenService_StartGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IkamenService_GameMoveReceive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameMoveReceive" />
  </wsdl:message>
  <wsdl:portType name="IkamenService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IkamenService/Connect" message="tns:IkamenService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IkamenService/ConnectResponse" message="tns:IkamenService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IkamenService/Disconnect" message="tns:IkamenService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IkamenService/DisconnectResponse" message="tns:IkamenService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameMoveSend">
      <wsdl:input wsaw:Action="http://tempuri.org/IkamenService/GameMoveSend" message="tns:IkamenService_GameMoveSend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IkamenService/GameMoveSendResponse" message="tns:IkamenService_GameMoveSend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IkamenService/StartGame" message="tns:IkamenService_StartGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameMoveReceive">
      <wsdl:output wsaw:Action="http://tempuri.org/IkamenService/GameMoveReceive" message="tns:IkamenService_GameMoveReceive_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IkamenService" type="tns:IkamenService">
    <wsp:PolicyReference URI="#NetTcpBinding_IkamenService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IkamenService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IkamenService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameMoveSend">
      <soap12:operation soapAction="http://tempuri.org/IkamenService/GameMoveSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IkamenService/StartGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameMoveReceive">
      <soap12:operation soapAction="http://tempuri.org/IkamenService/GameMoveReceive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="kamenService">
    <wsdl:port name="NetTcpBinding_IkamenService" binding="tns:NetTcpBinding_IkamenService">
      <soap12:address location="net.tcp://localhost:8734/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>REKKETIO-PC\rekketio</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>